*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
    width: 100vh;
    background-image: url(earth.mp4);
    background-color: #3d64e6;
    background-size: cover;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: 100%;
    }
}


.container{
    background-color: #f7f7f7;
    opacity: 1;
    width: 80vw;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgb(0, 0, 0, 0.20);
}
.search-wrapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}
.search-wrapper button{
    font-size: 1em;
    background-color: #3d64e6;
    color: black;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
}
.search-wrapper input{
    font-size: 1.0em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    color: #222a43;
}
#result{
    margin-top: 1.25em;
}
.container .flag-img{
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}
.container h2{
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}
.data-wrapper{
    margin-bottom: 1em;
    letter-spacing:  0.3px;
}
.container h4{
    display: inline;
    font-weight: 500;
    color: rgb(44, 42, 42);
}
.container span{
    color: #000000;
}
.container h3{
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
}